* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.img {
  position: absolute;
  left: 54.84%;
  right: 12.88%;
  top: 29.99%;
  bottom: 25.52%;
}

.root-container {
  background-color: #fff;
}

/* Header/Blog Title */
.header {
  text-align: right;
  background: #1ac073;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-left: 132px;
  padding-right: 132px;
  padding-top: 170px;
}

.header > div > img {
  height: 400px;
  width: 400px;
}

.header p:nth-child(1),
.header p:nth-child(2) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 0px;
  color: #ffffff;
  text-align: left;
}

.header p:nth-child(3) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
}

.header-left-pane {
  display: flex;
  flex-direction: column;
}

.header-left-search {
  width: 398px;
  height: 58px;
  left: 0px;
  top: 259px;
  background: #ffffff;
  border-radius: 10px;
}

.search-input {
  height: inherit;
  border: none;
  width: 286px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
}

.search-button {
  border: none;
  background: orange;
  height: inherit;
  width: 98px;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  font-size: 16px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #1ac073;
  display: flex;
  justify-content: space-between;
  padding-left: 132px;
  padding-right: 132px;
  height: 80px;
}

.nav-first {
  width: 89px;
  height: 20px;
  left: -14.5px;

  font-family: "Squada One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 0px;
  /* identical to box height, or 62% */

  letter-spacing: -0.012em;

  color: #ffffff;
  color: #fff;
  display: flex;
  align-items: center;
  height: inherit;
}
.nav-third {
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-third > img:nth-child(2) {
  margin-left: 36px;
}
.nav-second {
  display: flex;
  align-items: center;
  height: inherit;
}

/* Style the topnav links */
.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 277px;
  height: 250px;
  border-radius: 5px;
  background: url(.jpg), #797979;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.content {
  background-color: #f7f8fa;
  height: auto;
  padding-left: 132px;
  padding-right: 132px;
  padding-top: 40px;
}

.content-heading {
  width: 250px;
  height: 24px;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 24px;
  padding-top: unset;
  letter-spacing: -0.012em;

  color: #000000;
}

.image-container {
  display: flex;
  justify-content: space-between;
}
.content-img {
  height: 216px;
  width: 216px;
}

.content-image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-footer-text {
  display: flex;
  justify-content: space-between;
}

.img-footer-text-second-line {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.img-footer-text-second-line > * {
  font-size: 12px;
}

.star-icon {
  height: 12px;
  width: 12px;
}

.add-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.minus-icon {
  border-radius: 8px;
  cursor: pointer;
}

.content-img-footer {
  background: #fff;
  margin-top: -10px;
  padding: 6px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 64px;
}

.star-with-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star-with-time > div {
  display: flex;
  border: 1px solid #f7f8fa;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  padding: 1px 3px 1px 3px;
}

.star-with-time > span {
  margin-left: 6px;
  border: 1px solid #f7f8fa;
  border-radius: 5px;
  box-shadow: 0px 0px 1px rgb(0 0 0 / 25%);
  padding: 1px 3px 1px 3px;
}

.popular-items-section {
  padding-left: 132px;
  padding-right: 132px;
  background-color: #f7f8fa;
  padding-top: 80px;
  padding-bottom: 40px;
}

.popular-heading {
  height: 24px;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 24px;
  padding-top: unset;
  letter-spacing: -0.012em;
  margin-top: unset;
  margin-bottom: 36px;
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  color: #1ac073 !important;
  font-size: 36px !important;
}

.slick-list {
  margin-left: 73px !important;
}

.popular-section-image-width {
  width: 216px !important;
}

.popular-section-image-container {
  border: 1px solid #f3ba00;
  width: 72px;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}

.popular-section-image-count {
  font-weight: 500;
  font-size: 12px;
}

.popular-section-footer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  border-radius: 10px;
}

.popular-dish-button {
  border-radius: 10px !important;
  height: 48px !important;
}
.video-section-container {
  height: auto;
  padding-left: 132px;
  padding-right: 132px;
  background-color: #f7f8fa;
  padding-top: 40px;
  background: linear-gradient(
    to bottom,
    #f7f8fa 0%,
    #f7f8fa 69.5%,
    #c7eacc 69.5%,
    #c7eacc 100%
  );
}

.video-details {
  padding-left: 150px;
  padding-right: 150px;
  background: linear-gradient(
    to bottom,
    #f7f8fa 0%,
    #f7f8fa 50%,
    #c7eacc 50%,
    #c7eacc 100%
  );
}

.video-heading {
  font-size: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #252b42;
  margin-bottom: 10px;
}

.video-heading > span {
  display: block;
}

.video-text {
  font-size: 14px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #737373;
}

.video-text > span {
  display: block;
}

.form-footer {
  height: 603px;
  padding-left: 132px;
  padding-right: 132px;
  background-color: #f7f8fa;
  padding-top: 100px;
  display: flex;
}

.footer-text-p-head {
  font-size: 24px;
  margin-bottom: unset;
}

.footer-text-p-head > span {
  display: block;
}

.footer-text-p-text {
  font-size: 12px;
  margin-top: 4px;
}

.form-input-line-1 {
  display: flex;
  margin-top: 20px;
}

.form-input-line-1 > input {
  width: 265px;
  height: 40px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 6px;
}

.form-input-line-1 > input:nth-child(2) {
  margin-left: 10px;
}

.form-input-line-1 > input:focus {
  outline: none;
}

.form-footer-right > img {
  height: 400px;
  width: 400px;
}

.form-input-line-2 > input {
  width: 540px;
  height: 164px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 25px;
  padding-left: 6px;
}

.form-input-line-2 > input:focus {
  outline: none;
}

.button-class {
  background-color: #1ac073;
  border: none;
  border-radius: 4px;
  width: 210px;
  height: 58px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
}

.bottom-nav {
  overflow: hidden;
  background-color: #1ac073;
  display: flex;
  justify-content: space-between;
  padding-left: 132px;
  padding-right: 132px;
  height: 137px;
  align-items: center;
}

.bottom-nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.bottom-nav a:hover {
  background-color: #ddd;
  color: black;
}

.bottom-nav-second {
  display: flex;
  align-items: center;
  height: inherit;
}

.bottom-nav-first {
  width: 89px;
  height: 20px;

  font-family: "Squada One";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 0px;
  /* identical to box height, or 62% */

  letter-spacing: -0.012em;

  color: #ffffff;
  display: flex;
  align-items: center;
  height: inherit;
}

.bottom-nav-third {
  color: #fff;
  display: flex;
  align-items: center;
}

.bottom-nav-third > img:nth-child(2) {
  margin-left: 14px;
}

.bottom-nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 64px;
  border-bottom: 1px solid #fff;
}

/*Modal classes*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 80px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 93%;
  height: 95%;
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.empty-cart-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.empty-cart-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #000000;
  margin-bottom: unset;
}

.empty-cart-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.012em;
  color: #aaa7a7;
}
